@use "../abstracts"as *;

html,
body {
  font-family: "omyu_pretty";
  font-style: normal;
  font-weight: 400;
}

// 공통
#content {
  @include rem(padding, 0 10 20);

  background: url(pathImage/background-white.jpg) repeat center / 100% 100%;
  color: rgb(57, 62, 70);
  line-height: 1.3;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tit {
  @include rem(font-size, 22);
  font-weight: 600;
  color: rgb(167, 146, 119);
  text-shadow: rgba(0, 0, 0, 0.06) 1px 1px 1px;
}

.txt {
  @include rem(font-size, 19);
  font-weight: 400;
  text-align: center;
}

[class^="ico ico-"] {
  display: inline-flex;
  @include rem(width, 20);
  @include rem(height, 20);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.ico-naver {
    background-image: url(pathImage/icon-naver-map.png);
  }

  &.ico-kakao {
    background-image: url(pathImage/icon-kakao-navi.webp);
  }

  &.ico-copy {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.28564 0H2.10707C2.04814 0 1.99993 0.0482143 1.99993 0.107143V0.857143C1.99993 0.916071 2.04814 0.964286 2.10707 0.964286H8.74993V10.1786C8.74993 10.2375 8.79814 10.2857 8.85707 10.2857H9.60707C9.666 10.2857 9.71422 10.2375 9.71422 10.1786V0.428571C9.71422 0.191518 9.5227 0 9.28564 0ZM7.57136 1.71429H0.714216C0.477162 1.71429 0.285645 1.9058 0.285645 2.14286V9.25045C0.285645 9.36429 0.33118 9.47277 0.411537 9.55313L2.73252 11.8741C2.76198 11.9036 2.79547 11.9277 2.83163 11.9478V11.9732H2.88788C2.93475 11.9906 2.98431 12 3.0352 12H7.57136C7.80841 12 7.99993 11.8085 7.99993 11.5714V2.14286C7.99993 1.9058 7.80841 1.71429 7.57136 1.71429ZM2.83029 10.6098L1.67716 9.45536H2.83029V10.6098ZM7.03564 11.0357H3.68743V9.13393C3.68743 8.83795 3.4477 8.59821 3.15172 8.59821H1.24993V2.67857H7.03564V11.0357Z' fill='black'/%3E%3C/svg%3E%0A");
    @include rem(width, 16);
    @include rem(height, 16);
    background-size: auto 100%;
  }

  &.ico-kakaopay {
    background-image: url(pathImage/icon-kakao-pay.png);
    @include rem(width, 16);
    @include rem(height, 16)
  }

  &.ico-kakao {
    background-image: url(pathImage/icon-kakao.webp);
    @include rem(width, 16);
    @include rem(height, 16)
  }

  &.ico-del {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.96432 1.60735H3.85718C3.91611 1.60735 3.96432 1.55914 3.96432 1.50021V1.60735H8.03575V1.50021C8.03575 1.55914 8.08396 1.60735 8.14289 1.60735H8.03575V2.57164H9.00003V1.50021C9.00003 1.02744 8.61566 0.643066 8.14289 0.643066H3.85718C3.38441 0.643066 3.00003 1.02744 3.00003 1.50021V2.57164H3.96432V1.60735ZM10.7143 2.57164H1.28575C1.0487 2.57164 0.857178 2.76316 0.857178 3.00021V3.42878C0.857178 3.48771 0.905392 3.53592 0.964321 3.53592H1.77325L2.10405 10.5404C2.12548 10.9971 2.50316 11.3574 2.95986 11.3574H9.04021C9.49825 11.3574 9.87459 10.9984 9.89602 10.5404L10.2268 3.53592H11.0357C11.0947 3.53592 11.1429 3.48771 11.1429 3.42878V3.00021C11.1429 2.76316 10.9514 2.57164 10.7143 2.57164ZM8.93709 10.3931H3.06298L2.73887 3.53592H9.2612L8.93709 10.3931Z' fill='%23C8CAD2'/%3E%3C/svg%3E%0A");
    @include rem(width, 14);
    @include rem(height, 14)
  }

  &.ico-link {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_5)'%3E%3Cpath d='M6.83033 8.05444C6.81019 8.0345 6.783 8.02331 6.75466 8.02331C6.72632 8.02331 6.69913 8.0345 6.67899 8.05444L5.12274 9.61069C4.4022 10.3312 3.18613 10.4076 2.3906 9.61069C1.59372 8.81381 1.67006 7.59908 2.3906 6.87854L3.94685 5.32229C3.98837 5.28078 3.98837 5.21247 3.94685 5.17095L3.41381 4.63792C3.39367 4.61798 3.36648 4.60679 3.33814 4.60679C3.3098 4.60679 3.28261 4.61798 3.26247 4.63792L1.70622 6.19417C0.573186 7.3272 0.573186 9.16069 1.70622 10.2924C2.83926 11.4241 4.67274 11.4254 5.80444 10.2924L7.36069 8.73613C7.4022 8.69461 7.4022 8.62631 7.36069 8.58479L6.83033 8.05444ZM10.2937 1.70622C9.16069 0.573186 7.3272 0.573186 6.19551 1.70622L4.63792 3.26247C4.61798 3.28261 4.60679 3.3098 4.60679 3.33814C4.60679 3.36648 4.61798 3.39367 4.63792 3.41381L5.16962 3.94551C5.21113 3.98703 5.27944 3.98703 5.32095 3.94551L6.8772 2.38926C7.59774 1.66872 8.81381 1.59238 9.60935 2.38926C10.4062 3.18613 10.3299 4.40087 9.60935 5.1214L8.0531 6.67765C8.03316 6.69779 8.02197 6.72498 8.02197 6.75332C8.02197 6.78166 8.03316 6.80885 8.0531 6.82899L8.58613 7.36203C8.62765 7.40354 8.69595 7.40354 8.73747 7.36203L10.2937 5.80578C11.4254 4.67274 11.4254 2.83926 10.2937 1.70622ZM7.31381 4.12899C7.29367 4.10905 7.26648 4.09786 7.23814 4.09786C7.2098 4.09786 7.18261 4.10905 7.16247 4.12899L4.12899 7.16113C4.10905 7.18127 4.09786 7.20846 4.09786 7.2368C4.09786 7.26514 4.10905 7.29234 4.12899 7.31247L4.65935 7.84283C4.70087 7.88435 4.76917 7.88435 4.81069 7.84283L7.84283 4.81069C7.88435 4.76917 7.88435 4.70087 7.84283 4.65935L7.31381 4.12899Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_5'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  &.ico-tel {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8897 2.33994L9.46336 0.914941C9.28925 0.740834 9.05622 0.643066 8.80979 0.643066C8.56336 0.643066 8.33032 0.739495 8.15622 0.914941L6.62005 2.44842C6.44595 2.62253 6.34818 2.85691 6.34818 3.10333C6.34818 3.3511 6.44461 3.5828 6.62005 3.75825L7.82005 4.95958C7.54668 5.59653 7.1539 6.17525 6.66291 6.66449C6.17139 7.15869 5.59684 7.54842 4.95934 7.82432L3.75934 6.62298C3.58523 6.44887 3.3522 6.3511 3.10577 6.3511C2.98422 6.35065 2.8638 6.37447 2.75158 6.42115C2.63935 6.46784 2.53757 6.53645 2.4522 6.62298L0.914697 8.15646C0.74059 8.33057 0.642822 8.56494 0.642822 8.81137C0.642822 9.05914 0.739251 9.29083 0.914697 9.46628L2.3397 10.8913C2.63702 11.1886 3.04684 11.3587 3.46738 11.3587C3.55443 11.3587 3.6388 11.352 3.72452 11.3373C5.49773 11.0453 7.25755 10.1011 8.67854 8.68146C10.0982 7.25914 11.041 5.49932 11.3357 3.72476C11.4201 3.22119 11.2513 2.70289 10.8897 2.33994ZM10.3861 3.56539C10.125 5.14441 9.27586 6.71941 7.99684 7.99842C6.71782 9.27744 5.14416 10.1265 3.56514 10.3877C3.36693 10.4212 3.16336 10.3542 3.01872 10.2109L1.61916 8.81137L3.10309 7.3261L4.70755 8.93325L4.71961 8.9453L5.00889 8.83816C5.88603 8.51566 6.68255 8.0063 7.34326 7.34536C8.00396 6.68443 8.51305 5.88773 8.83523 5.01048L8.94238 4.72119L7.32452 3.10467L8.80845 1.61941L10.208 3.01896C10.3526 3.1636 10.4196 3.36717 10.3861 3.56539Z' fill='black'/%3E%3C/svg%3E%0A");
  }

  &.ico-message {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_29_11)'%3E%3Cpath d='M5.35722 6C5.35722 6.1705 5.42495 6.33401 5.54551 6.45457C5.66607 6.57513 5.82958 6.64286 6.00008 6.64286C6.17057 6.64286 6.33409 6.57513 6.45464 6.45457C6.5752 6.33401 6.64293 6.1705 6.64293 6C6.64293 5.8295 6.5752 5.66599 6.45464 5.54543C6.33409 5.42487 6.17057 5.35714 6.00008 5.35714C5.82958 5.35714 5.66607 5.42487 5.54551 5.54543C5.42495 5.66599 5.35722 5.8295 5.35722 6ZM8.03579 6C8.03579 6.1705 8.10352 6.33401 8.22408 6.45457C8.34464 6.57513 8.50815 6.64286 8.67865 6.64286C8.84914 6.64286 9.01266 6.57513 9.13322 6.45457C9.25377 6.33401 9.3215 6.1705 9.3215 6C9.3215 5.8295 9.25377 5.66599 9.13322 5.54543C9.01266 5.42487 8.84914 5.35714 8.67865 5.35714C8.50815 5.35714 8.34464 5.42487 8.22408 5.54543C8.10352 5.66599 8.03579 5.8295 8.03579 6ZM2.67865 6C2.67865 6.1705 2.74638 6.33401 2.86694 6.45457C2.98749 6.57513 3.15101 6.64286 3.3215 6.64286C3.492 6.64286 3.65551 6.57513 3.77607 6.45457C3.89663 6.33401 3.96436 6.1705 3.96436 6C3.96436 5.8295 3.89663 5.66599 3.77607 5.54543C3.65551 5.42487 3.492 5.35714 3.3215 5.35714C3.15101 5.35714 2.98749 5.42487 2.86694 5.54543C2.74638 5.66599 2.67865 5.8295 2.67865 6ZM11.534 3.675C11.2313 2.9558 10.7974 2.31027 10.2443 1.7558C9.69502 1.20455 9.04298 0.766368 8.32508 0.466071C7.58847 0.156696 6.80633 0 6.00008 0H5.97329C5.16168 0.00401786 4.37552 0.164732 3.63624 0.480804C2.92448 0.78418 2.27855 1.22314 1.73445 1.77321C1.18668 2.32634 0.756772 2.9692 0.459451 3.68571C0.151415 4.42768 -0.00394188 5.21652 7.59813e-05 6.02812C0.00462051 6.95822 0.224663 7.87461 0.642933 8.70536V10.7411C0.642933 10.9045 0.70784 11.0612 0.823376 11.1767C0.938912 11.2922 1.09561 11.3571 1.259 11.3571H3.29606C4.12681 11.7754 5.0432 11.9955 5.97329 12H6.00142C6.80365 12 7.58177 11.8446 8.31436 11.5406C9.02864 11.2439 9.67825 10.8108 10.2269 10.2656C10.78 9.71786 11.2153 9.07768 11.5193 8.36384C11.8353 7.62455 11.9961 6.83839 12.0001 6.02679C12.0041 5.21116 11.8461 4.41964 11.534 3.675ZM9.51034 9.54107C8.5715 10.4705 7.32597 10.9821 6.00008 10.9821H5.97731C5.16972 10.9781 4.36749 10.7772 3.659 10.3996L3.5465 10.3393H1.66079V8.45357L1.60052 8.34107C1.22284 7.63259 1.02195 6.83036 1.01793 6.02277C1.01258 4.6875 1.52284 3.43393 2.459 2.48973C3.39383 1.54554 4.64338 1.02321 5.97865 1.01786H6.00142C6.67106 1.01786 7.32061 1.14777 7.93267 1.40491C8.52999 1.65536 9.0657 2.01562 9.52642 2.47634C9.98579 2.93571 10.3474 3.47277 10.5978 4.07009C10.8577 4.68884 10.9876 5.34509 10.9849 6.02277C10.9769 7.3567 10.4532 8.60625 9.51034 9.54107Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_29_11'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  span+&,
  &+span {
    @include rem(margin-left, 7);
  }
}

button,
[class^="btn btn-"] {
  color: rgb(57, 62, 70);
}

// 간격
.contents-layer-wrap {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;

  >.tit {
    text-align: center;
  }

  &+.contents-layer-wrap {
    @include rem(margin-top, 50);
    ;
  }

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-wrap {
  &+.contents-layer-wrap {
    @include rem(margin-top, 50);
    ;
  }
}


.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 251, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  opacity: 1;
  transition: opacity 1s ease-out;

  .loding-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .desc {
      font-size: 22px;
      color: rgb(251, 238, 172);
      opacity: 0;
      transform: translateX(20px);
      animation: fadeInUp 1s forwards;
      animation-delay: 0.5s;

      /* 애니메이션 시작 전에 딜레이 추가 */
      &+.desc {
        @include rem(margin-left, 6);
      }
    }

    .desc:nth-child(1) {
      animation-delay: 0.5s;
      /* 첫 번째 텍스트에 0.5초 딜레이 */
    }

    .desc:nth-child(2) {
      animation-delay: 1s;
      /* 두 번째 텍스트에 1초 딜레이 */
    }

    .desc:nth-child(3) {
      animation-delay: 1.5s;
      /* 세 번째 텍스트에 1.5초 딜레이 */
    }
  }
}

@keyframes fadeInUp {

  // to {
  //   opacity: 1;
  //   transform: translateX(0);
  //   color: rgb(48, 57, 82);
  // }
  0% {
    color: rgb(251, 238, 172);
    opacity: 0;
    transform: translateX(20px);
  }


  20% {
    color: rgb(251, 238, 172);
  }

  100% {
    color: rgb(48, 57, 82);
    opacity: 1;
    transform: translateX(0);
  }
}

.pageClassMain {
  // display: none;
  /* 처음에는 숨겨두고 로딩이 끝난 후 보여줌 */
  // opacity: 0;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.pageClassMain.show {
  // display: block;
  opacity: 1;
}

.top-img-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .badge {
    @include rem(width, 140);
    position: relative;
    z-index: 1;
  }

  .photo {
    @include rem(margin-top, -25);
    position: relative;
    @include rem(width, 220);
    @include rem(height, 290);
    @include rem(border-radius, 120);
    overflow: hidden;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .point {
    position: relative;
    @include rem(top, -24);
    @include rem(right, -70);
    @include rem(width, 80);
    @include rem(height, 80);
    z-index: 1;
  }
}

.info-wrap {
  @include rem(margin-top, -46);
  display: flex;
  flex-direction: column;
  align-items: center;

  .name {
    @include rem(font-size, 27);
    font-weight: 600;
  }

  .parent {
    @include rem(margin-top, 5);
    @include rem(font-size, 19);
    font-weight: 400;
    display: flex;
    align-items: center;

    .mon {
      @include rem(margin-left, 20);
    }

    span {
      display: inline-block;
      @include rem(font-size, 15);
      font-weight: 400;
      @include rem(margin-right, 5);
    }
  }

  .date {
    @include rem(margin-top, 15);
    @include rem(font-size, 19);
    font-weight: 400;
  }

  .palce {
    @include rem(font-size, 19);
    font-weight: 400;
  }
}

.bg-area {
  @include rem(margin, 0 -10);
  display: flex;
  align-items: center;
  justify-content: space-between;

  [class^="bg-"] {
    @include rem(width, 100);
  }
}

.txt-wrap {
  @include rem(padding-top, 80);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(pathImage/img-balloon.webp) no-repeat center top/ auto 5.5rem;

  .tit {}

  .txt {
    @include rem(margin-top, 17);
    @include rem(width, 270);
    line-height: 2;
  }
}

.btn-call {
  @include rem(margin, 17 auto 0);
  @include rem(padding, 6 40);
  display: flex;
  justify-content: center;
  background-color: rgb(244, 241, 238);
  border: 1px solid rgb(244, 241, 238);
  width: fit-content;
  @include rem(min-width, 64);
  @include rem(font-size, 17);
  font-weight: 400;
  color: rgb(33, 34, 36);
  @include rem(border-radius, 10);
}

.parent-wrap {
  display: flex;
  @include rem(padding-bottom, 24);
  flex-wrap: wrap;

  [class*="-box"] {
    width: calc(50% - .5rem);

    .img {
      &+.txt {
        @include rem(margin-top, 10);
      }
    }
  }

  .dad-box {
    span {
      background-color: rgb(204, 224, 245)
    }
  }

  .mom-box {
    @include rem(margin-left, 10);

    span {
      background-color: rgb(250, 204, 204)
    }
  }

  .img {
    width: 100%;
    @include rem(margin-bottom, 16);
    @include rem(height, 250);
    background-color: rgb(244, 241, 238);
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.calendar-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-img {
  @include rem(margin, 20 0);
}

.calendar {
  @include rem(margin, 20 0);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  // grid-row-gap: 1rem;
  width: fit-content;
  border-top: 1px solid #c8cad2;
  border-bottom: 1px solid #c8cad2;

  .day,
  .date {
    justify-self: center;
  }

  .day {
    @include rem(width, 40);
    @include rem(height, 40);
    color: rgb(48, 52, 65);
    @include rem(font-size, 12);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .date {
    border: 0;
    padding: 0;
    @include rem(width, 40);
    @include rem(height, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    @include rem(font-size, 12);

    font-weight: 600;
    border: 2px solid transparent;
    background-color: transparent;
  }


  .current-day {
    background-color: rgb(236, 226, 213);
    border-radius: 999px;

  }
}

.dday-box {
  @include rem(padding, 5 40);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;

  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include rem(border-radius, 10);
    @include rem(padding, 2);
    background-color: rgba(241, 243, 245, 0.5);
    box-shadow: rgba(0, 0, 0, 0.06) 1px 1px 1px;

    &+div {
      @include rem(margin-left, 5);
    }
  }


  .num {
    @include rem(font-size, 19);
    font-weight: 400;
  }

  .tit {
    @include rem(font-size, 10);
    font-weight: 400;
    color: #a79277;
  }
}

.dday-desc {
  @include rem(margin-top, 20);
  @include rem(font-size, 19);
  font-weight: 400;
  text-align: center;
}

.tit-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  .txt {
    @include rem(margin, 20 0);
  }
}

.map-wrap {

  #address,
  .map-search {
    width: 0;
    height: 0;
  }

  .map {
    width: 100%;
    height: 300px;

    /* 원하는 높이로 조정 가능 */
    >div {
      width: 100%;
      height: 100%;
    }

    .wrap_controllers {
      display: none;
    }
  }

  .btn-box {
    display: flex;
    width: 100%;
    @include rem(padding, 6 16);
    @include rem(border-bottom-right-radius, 5);
    @include rem(border-bottom-left-radius, 5);
    background-color: rgb(244, 241, 238);



    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      @include rem(padding, 6 16);
      width: 100%;
      text-align: center;
      line-height: 1.75;
      flex: 1 1 0%;
      @include rem(padding, 6 16);
      border: none;
      background-color: transparent;

      span {
        @include rem(font-size, 17);
        font-weight: 400;
      }

      &+.btn {
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 1px;
          @include rem(height, 20);
          background-color: #a79277;
        }
      }
    }
  }

  .info-txt {
    @include rem(margin-top, 15);

    .txt {
      @include rem(margin-top, 15);
      text-align: start;
    }
  }
}

.gallery-wrap {
  @include rem(margin-top, 20);
  position: relative;
  @include rem(padding-bottom, 20);

  .swiper-slide {
    @include rem(border-radius, 5);

    button {
      height: 0;
      width: 100%;
      padding-bottom: 100%;
      overflow: hidden;
      position: relative;
      @include rem(border-radius, 5);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    background-color: #000;
    opacity: .25;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  &.type02 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(233, 236, 239);

    .swiper-slide {
      display: flex;
      position: relative;
      @include rem(padding, 20 20 40 20);
      width: 100%;
      @include rem(border-radius, 10);
      align-items: center;
      justify-content: center;

      .img {
        height: auto;
        width: 100%;

        img {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }




    .txt-box {
      @include rem(margin-top, 10);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .date {
      @include rem(font-size, 19);
    }

    .desc {
      @include rem(margin-top, 5);
      @include rem(font-size, 19);
      font-weight: 600;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      @include rem(bottom, 30);
    }

  }
}

.component-accordion {
  border: 0;
  @include rem(margin-top, 20);

  .accordion-tit {
    @include rem(font-size, 18);
    text-align: center;
    background-color: rgb(244, 241, 238) !important
  }

  .accordion-item {
    border: 0
  }

  .accordion-item.show {
    .accordion-content {
      border: 0;
      @include rem(padding, 8 16 16);
    }
  }

  .accordion-content {
    border: 0;
    background-color: #fff;
    @include rem(padding, 0 16);
  }
}

.bank-account-wrap {
  @include rem(margin-top, 10);

  .flex-box {
    @include rem(padding-bottom, 10);
    display: flex;
    align-items: center;

    >* {
      text-align: start;
      flex: auto;

      &+* {
        @include rem(margin-left, 8);
      }
    }
  }

  .txt {
    @include rem(font-size, 15);
    font-weight: 400;

    &:nth-child(1) {
      @include rem(width, 90);
      flex: 0 1 auto;
    }

    &:nth-child(2) {
      @include rem(min-width, 113);
    }
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    @include rem(border-radius, 2.5);
    @include rem(padding, 2.5 5);
    // @include rem(max-width, 90);
    @include rem(width, 90);
    @include rem(height, 26);
    min-height: initial;
    border: 1px solid rgb(154, 155, 167);

    span {
      @include rem(font-size, 13);
    }
  }
}

.messages-wrap {
  @include rem(margin-top, 20);
  @include rem(max-height, 300);
  overflow-y: auto;

  .messages-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(250, 250, 252);
    @include rem(border-radius, 10);
    @include rem(padding, 10);
    background-color: rgb(255, 255, 255);
    @include rem(font-size, 17);

    .top {
      display: flex;
      align-items: center;
    }

    .btn-del {
      display: inline-flex;
      @include rem(width, 26);
      @include rem(height, 26);
      @include rem(margin-left, 10);
      background-color: rgb(242, 243, 247);
      align-items: center;
      justify-content: center;
      @include rem(border-radius, 10);

      .ico-del {
        margin-left: 0;
      }
    }

    .time {
      margin-left: auto;
      color: rgb(114, 117, 133);
    }

    &+.messages-box {
      @include rem(margin-top, 5);
    }
  }
}

.messages-btn-box {
  display: flex;
  align-items: center;
  ;
}

.btn-messages {
  @include rem(margin-top, 20);
  margin-left: auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(244, 241, 238);
  @include rem(min-width, 64);
  @include rem(padding, 6 40);
  @include rem(border-radius, 10);
  border: 1px solid rgb(244, 241, 238);
  @include rem(font-size, 17);
}

.share-wrap {
  @include rem(padding, 20 0 10);
  background-color: rgb(250, 250, 252);
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn-kakaoshare,
  .btn-link {
    @include rem(padding, 4 15);
    @include rem(font-size, 14);
    @include rem(height, 32);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.tit02 {
  @include rem(margin-top, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px 10px;
  color: rgb(48, 52, 65);
  @include rem(font-size, 20);
  opacity: 0.5;
}

.copyright {
  @include rem(margin-top, 5);
  @include rem(font-size, 14);
  color: rgb(48, 52, 65);
  text-align: left;
  width: 100%;
  text-align: center;

}

.phone-box {
  @include rem(padding, 10 0);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn-tel {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      @include rem(margin, 0 20);
      display: inline-block;
      @include rem(width, 15);
      @include rem(height, 15);
      background: url("data:image/svg+xml,%3Csvg width='12' height='2' viewBox='0 0 12 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.642822 0.518066H1.60711V1.48235H0.642822V0.518066ZM3.08032 0.518066H4.04461V1.48235H3.08032V0.518066ZM7.95532 0.518066H8.91961V1.48235H7.95532V0.518066ZM10.3928 0.518066H11.3571V1.48235H10.3928V0.518066ZM5.51782 0.518066H6.48211V1.48235H5.51782V0.518066Z' fill='black'/%3E%3C/svg%3E%0A");
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .btn-message {
    @include rem(padding-left, 20);
  }
}

// 방명록
.modal02 {
  .input-field-btn {
    background-color: rgb(242, 243, 247);

    &.clear {
      @include rem(margin-right, 8);
      height: auto;
      @include rem(padding, 4);
      border-radius: 50%;
    }
  }

  .ico-clear.ico-normal {
    @include rem(width, 15);
    @include rem(height, 15);
    @include ico-x(#00000073)
  }


  .password-state {
    background-color: transparent;

    [class^='ico-'] {
      @include rem(width, 18);
      @include rem(height, 18);
    }
  }

  .btn-submit {
    @include rem(margin-top, 10);
    color: rgb(33, 34, 36);
    box-shadow: none;
    height: unset;
    background-color: rgb(245, 241, 241);
    @include rem(padding, 4 10);
    width: 100%;
    @include rem(font-size, 17);
    line-height: 1.6;
    border: unset;
    @include rem(border-radius, 6);

    &:disabled {
      cursor: not-allowed;
      border-color: #d9d9d9;
      color: rgba(0, 0, 0, 0.25);
      background-color: rgba(0, 0, 0, 0.04);
      box-shadow: none;
    }
  }
}

.component-modal.modal03 {
  .modal-container {
    max-height: 90%;

    .modal-content {
      max-height: initial;

      .swiper-slide {
        width: 100%;

        .img-box {
          width: 100%;
        }

        .img {
          height: 0;
          width: 100%;
          padding-bottom: 130%;
          position: relative;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}